
@{
    ViewData["Title"] = "About";
}
<div id="shopify-section-template--14146645819443__main" class="shopify-section">
<!-- About Main Area Start -->
<div class="about-main-area" id="section-template--14146645819443__main">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <div class="about-img">
          <a href="about.html"><img class="img" src="../../cdn.shopify.com/s/files/1/0019/7181/4451/files/14056d.jpg?v=1523773888" alt="about-us"></a>
        </div>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="about-content">
          <h3>Why We are?</h3>
          <p>Mellentesque faucibus dapibus dapibus. Morbi aliquam aliquet neque. Donec placerat dapibus sollicitudin. Morbi arcu nisi, mattis ut ullamcorper in, dapibus ac nunc. Cras bibendum mauris et sapien feugiat. scelerisque accumsan nibh gravida. Quisque aliquet justo elementum lectus ultrices bibendum.
<br>
Mellentesque faucibus dapibus dapibus. Morbi aliquam aliquet neque. Donec placerat dapibus sollicitudin. Morbi arcu nisi, mattis ut ullamcorper in, dapibus ac nunc. Cras bibendum mauris et sapien feugiat. scelerisque accumsan nibh gravida. Quisque aliquet justo elementum lectus ultrices bibendum.
<br>
Mellentesque faucibus dapibus dapibus. Morbi aliquam aliquet neque. Donec placerat dapibus sollicitudin. Morbi arcu nisi, mattis ut ullamcorper in, dapibus ac nunc. Cras bibendum mauris et sapien feugiat. scelerisque accumsan nibh gravida. Quisque aliquet justo elementum lectus ultrices bibendum.</p>
          <ul class="mt-20 about-content-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About Main Area End -->
<style data-shopify>#section-template--14146645819443__main{padding-top: 0px;
    padding-bottom: 50px;}
  @@media (min-width: 768px) and (max-width: 991px) {
    #section-template--14146645819443__main{padding-top: 0px;
      padding-bottom: 50px;}
  }
  @@media (max-width: 767px) {
    #section-template--14146645819443__main{padding-top: 0px;
      padding-bottom: 50px;}
  }</style><style>
</style>
</div><div id="shopify-section-template--14146645819443__about-bottom" class="shopify-section">
<!-- Our Mission Start -->
<div class="about-bottom" id="section-template--14146645819443__about-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <div class="ht-single-about">
          <h3>OUR SKILLS</h3>
          <div class="skill-bar">
            <div class="skill-bar-item">
              <span>WEB DESIGN</span>
              <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                  <span class="text-top">80%</span>
                </div>
              </div>
            </div>
            <div class="skill-bar-item">
              <span>PHP &amp; JAVASCRIPT</span>
              <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                  <span class="text-top">90%</span>
                </div>
              </div>
            </div>
            <div class="skill-bar-item">
              <span>HTML5 &amp; CSS3</span>
              <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                  <span class="text-top">70%</span>
                </div>
              </div>
            </div>
            <div class="skill-bar-item">
              <span>wordpress</span>
              <div class="progress">
                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%; visibility: visible; animation-duration: 1.5s; animation-delay: 1.2s; animation-name: fadeInLeft;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                  <span class="text-top">95%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ht-single-about">
          <h3>OUR EXPERIENCES</h3>
          <h5>FUSCE FRINGILLA PORTTITOR IACULI SED QUAM LIBERO, ADIPISCING SED ERAT ID</h5>
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi malesuada vestibulum. Phasellus tempor nunc eleifend cursus molestie. Mauris lectus arcu, pellentesque at sodales sit amet,</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="ht-single-about">
          <h3>OUR WORKS</h3>
          <div class="ht-about-work">
            <span>1</span>
            <div class="ht-work-text">
              <h5><a href="#">LOREM IPSUM DOLOR SIT AMET</a></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
            </div>
          </div>
          <div class="ht-about-work">
            <span>2</span>
            <div class="ht-work-text">
              <h5><a href="#">DONEC FERMENTUM EROS</a></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
            </div>
          </div>
          <div class="ht-about-work">
            <span>3</span>
            <div class="ht-work-text">
              <h5><a href="#">LOREM IPSUM DOLOR SIT AMET</a></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eu nisi ac mi</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Our Mission End -->
<style data-shopify>#section-template--14146645819443__about-bottom{padding-top: 0px;
    padding-bottom: 50px;}
  @@media (min-width: 768px) and (max-width: 991px) {
    #section-template--14146645819443__about-bottom{padding-top: 0px;
      padding-bottom: 50px;}
  }
  @@media (max-width: 767px) {
    #section-template--14146645819443__about-bottom{padding-top: 0px;
      padding-bottom: 45px;}
  }</style><style>
</style>
</div>
@section breadcrumbs{
    <div class="breadcrumbs-section ptb-50">
        <div class="breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="breadcrumbs-inner">
                            <nav class="" role="navigation" aria-label="breadcrumbs">
                                <ul class="breadcrumb-list">
                                    <li>
                                        <a asp-controller="home" asp-action="index" title="Back to the home page">Home</a>
                                    </li>
                                    <li>
                                        <span>about</span>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}